#include:
#  - services/user/docker-compose.yml
#  - services/notification/docker-compose.yml
#  - services/order/docker-compose.yml
#  - services/payment/docker-compose.yml
#  - services/product/docker-compose.yml
#  - services/shopping/docker-compose.yml
#
networks:
  app-network:
    driver: bridge

services:
  caddy:
    image: caddy:latest
    container_name: api-gateway
    ports:
      - "8080:8080"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    networks:
      - app-network
    depends_on:
      - user-service
      - product-service

  # Services..
  user-service:
    build:
      context: .
      dockerfile: services/user/Dockerfile
    environment:
      ENV: "DEV"
      ACCESS_TOKEN_SECRET: "secret"
    networks:
      - app-network
    volumes:
      - .:/app
      - go-cache:/go/pkg/mod
    command: sh -c "go install github.com/air-verse/air@latest && air -c /app/services/user/.air.toml"
    working_dir: /app/services/user
    depends_on:
      user-postgres:
        condition: service_healthy

  notification-service:
    build:
      context: .
      dockerfile: services/notification/Dockerfile

  order-service:
    build:
      context: .
      dockerfile: services/order/Dockerfile

  payment-service:
    build:
      context: .
      dockerfile: services/payment/Dockerfile

  product-service:
    build:
      context: .
      dockerfile: services/product/Dockerfile
    environment:
      USER_SERVICE_URL: http://user-service:8080
      ENV: "DEV"
    networks:
      - app-network
    volumes:
      - .:/app
      - go-cache:/go/pkg/mod
    command: sh -c "go install github.com/air-verse/air@latest && air -c /app/services/product/.air.toml"
    working_dir: /app/services/product
    depends_on:
      product-postgres:
        condition: service_healthy

  shopping-service:
    build:
      context: .
      dockerfile: services/shopping/Dockerfile

  user-postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: user_service
    ports:
      - "5432:5432"
    volumes:
      - user-postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d user_service" ]
      interval: 5s
      timeout: 5s
      retries: 5

  product-postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: product_service
    ports:
      - "5433:5432"
    volumes:
      - product-postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d product_service" ]
      interval: 5s
      timeout: 5s
      retries: 5


volumes:
  go-cache:
  user-postgres-data:
  product-postgres-data: