include:
  - services/user/docker-compose.yml
  - services/notification/docker-compose.yml
  - services/order/docker-compose.yml
  - services/payment/docker-compose.yml
  - services/product/docker-compose.yml
  - services/shopping/docker-compose.yml

services:
  caddy:
    image: caddy:latest
    container_name: api-gateway
    ports:
      - "8080:8080"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      # Exposed API's
      - user-service

  # Services..
  user-service:
    build:
      context: .
      dockerfile: services/user/Dockerfile

  notification-service:
    build:
      context: .
      dockerfile: services/notification/Dockerfile

  order-service:
    build:
      context: .
      dockerfile: services/order/Dockerfile

  payment-service:
    build:
      context: .
      dockerfile: services/payment/Dockerfile

  product-catalog-service:
    build:
      context: .
      dockerfile: services/product/Dockerfile

  shopping-service:
    build:
      context: .
      dockerfile: services/shopping/Dockerfile

  postgres: # For now, a single DB
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: user_service
    ports:
      - "5432:5432"
